@use '../basics/vars.scss' as *;

.project-overview {
   .card {
      background: rgba(255, 255, 255, 0.05);
      border-radius: 15px;
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.1);
      padding: 1em;
      .card-details {

         .item {
            flex-direction: row;
            align-items: center;

            span {
               color: $c5;
            }

            h6 {
               line-height: 1.2;
               font-weight: 700;
            }
         }


         @media (min-width: $mobile) {
            flex-direction: row;
            justify-content: space-between;
         }
      }

   }
}